# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-netbox

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Go workspace file
go.work

# Dependency directories
vendor/

# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
terraform_plugin_test.tf
acc_results*.txt

# IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store

# goreleaser
dist/

# Environment files
.env
.env.local

# Documentation build artifacts
website/build
website/node_modules
website/docs

# Ignore CLI configuration files
.terraformrc
terraform.rc
